docs/n8n-ai-employee-obmc-intake-link.json
{
  "name": "Ai Employee OBMC - Intake Link Delivery",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-employee-obmc-intake-link-replace-with-private-uuid-before-activation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-intake-link",
      "name": "Intake Link Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -520,
        0
      ],
      "webhookId": "ai-employee-obmc-intake-link-template"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body ?? $input.first().json;\nconst customer = payload.customer ?? {};\nconst portalPath = payload.portalPath ?? payload.portal_path ?? (customer.portal_token ? `/ai-employees/portal/${customer.portal_token}` : null);\nconst publicBaseUrl = ($env.AI_EMPLOYEES_PUBLIC_BASE_URL ?? 'https://ai-employees-gamma.vercel.app').replace(/\\/$/, '');\nconst portalUrl = portalPath?.startsWith('http') ? portalPath : portalPath ? `${publicBaseUrl}${portalPath}` : null;\n\nreturn [{\n  json: {\n    event: payload.event ?? 'ai_employee.send_intake_link',\n    source_app: payload.source_app ?? 'OBMC AI Employees',\n    received_at: new Date().toISOString(),\n    customer,\n    portal_path: portalPath,\n    portal_url: portalUrl,\n    email_message: {\n      to: customer.email ?? null,\n      subject: 'Your OBMC AI Employees intake link',\n      text: [\n        `Hi ${customer.contact_name ?? customer.business_name ?? 'there'},`,\n        '',\n        'Your private OBMC AI Employees intake workspace is ready.',\n        portalUrl ? `Complete intake here: ${portalUrl}` : 'Your intake link is being prepared by OBMC.',\n        '',\n        'Use this link to share services, FAQs, lead fields, appointment rules, GoHighLevel notes, and launch preferences.',\n        '',\n        'One Big Media Company LLC'\n      ].join('\\n')\n    },\n    sms_message: customer.phone && portalUrl ? {\n      to: customer.phone,\n      text: `OBMC AI Employees intake link: ${portalUrl}`\n    } : null,\n    ghl_task: {\n      title: 'AI Employee intake link sent',\n      contact_email: customer.email ?? null,\n      note: portalUrl ? `Private intake link sent: ${portalUrl}` : 'Private intake link requested.',\n      tags: ['OBMC AI Employees', 'Intake Link Sent']\n    },\n    next_step: 'send_customer_email_and_create_ghl_follow_up_task'\n  }\n}];"
      },
      "id": "code-build-intake-link",
      "name": "Build Intake Link Delivery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, workflow: 'Ai Employee OBMC - Intake Link Delivery', next_step: $json.next_step, customer_email: $json.customer.email, portal_url: $json.portal_url } }}",
        "options": {}
      },
      "id": "respond-intake-link",
      "name": "Confirm Intake Link Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Intake Link Webhook": {
      "main": [
        [
          {
            "node": "Build Intake Link Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Intake Link Delivery": {
      "main": [
        [
          {
            "node": "Confirm Intake Link Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "ai-employee-obmc-intake-link-local-template",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "OBMC AI Employees"
    },
    {
      "name": "Intake"
    }
  ]
}
