docs/n8n-ai-employee-obmc-intake-submitted.json
{
  "name": "Ai Employee OBMC - Intake Submitted",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-employee-obmc-intake-submitted-replace-with-private-uuid-before-activation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-intake-submitted",
      "name": "Intake Submitted Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -520,
        0
      ],
      "webhookId": "ai-employee-obmc-intake-submitted-template"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json.body ?? $input.first().json;\nconst intake = payload.intake ?? {};\nconst portalPath = payload.portalPath ?? payload.portal_path ?? null;\nconst publicBaseUrl = (payload.public_base_url ?? 'https://ai-employees-gamma.vercel.app').replace(/\\/$/, '');\nconst portalUrl = portalPath?.startsWith('http') ? portalPath : portalPath ? `${publicBaseUrl}${portalPath}` : null;\n\nconst requiredFields = Array.isArray(intake.required_lead_fields)\n  ? intake.required_lead_fields.join(', ')\n  : intake.required_lead_fields ?? 'name, phone, email';\n\nreturn [{\n  json: {\n    event: payload.event ?? 'ai_employee.customer_intake_submitted',\n    source_app: payload.source_app ?? 'OBMC AI Employees',\n    received_at: new Date().toISOString(),\n    intake,\n    portal_path: portalPath,\n    portal_url: portalUrl,\n    ghl_contact_payload: {\n      locationId: payload.ghl_location_id ?? null,\n      firstName: intake.contact_name ?? intake.business_name ?? 'AI Employee Customer',\n      name: intake.contact_name ?? intake.business_name ?? 'AI Employee Customer',\n      email: intake.email ?? null,\n      phone: intake.phone ?? null,\n      website: intake.website ?? null,\n      tags: ['OBMC AI Employees', 'Intake Submitted', `Priority: ${intake.launch_priority ?? 'standard'}`],\n      source: 'OBMC AI Employees customer intake',\n      customFields: [\n        { key: 'obmc_ai_industry', field_value: intake.industry ?? '' },\n        { key: 'obmc_ai_service_area', field_value: intake.service_area ?? '' },\n        { key: 'obmc_ai_services', field_value: intake.services_offered ?? '' },\n        { key: 'obmc_ai_business_hours', field_value: intake.business_hours ?? '' },\n        { key: 'obmc_ai_ideal_customer', field_value: intake.ideal_customer ?? '' },\n        { key: 'obmc_ai_required_fields', field_value: requiredFields },\n        { key: 'obmc_ai_launch_priority', field_value: intake.launch_priority ?? 'standard' }\n      ]\n    },\n    ghl_note: [\n      `AI Employee intake submitted for ${intake.business_name ?? intake.contact_name ?? 'customer'}.`,\n      `Industry: ${intake.industry ?? 'not provided'}`,\n      `Service area: ${intake.service_area ?? 'not provided'}`,\n      `Services: ${intake.services_offered ?? 'not provided'}`,\n      `FAQs: ${intake.common_questions ?? 'not provided'}`,\n      `Appointment rules: ${intake.appointment_rules ?? 'not provided'}`,\n      `Escalation contacts: ${intake.escalation_contacts ?? 'not provided'}`,\n      `Tone: ${intake.tone_preferences ?? 'not provided'}`,\n      `Disqualifying rules: ${intake.disqualifying_rules ?? 'not provided'}`,\n      `GHL notes: ${intake.ghl_notes ?? 'not provided'}`,\n      portalUrl ? `Portal: ${portalUrl}` : null\n    ].filter(Boolean).join('\\n'),\n    implementation_tasks: [\n      { owner: 'OBMC Admin', title: 'Review submitted intake', status: 'ready' },\n      { owner: 'OBMC Admin', title: 'Draft AI Employee roles from intake', status: 'ready' },\n      { owner: 'OBMC Admin', title: 'Map n8n and GHL handoffs', status: 'ready' },\n      { owner: 'OBMC Admin', title: 'Prepare launch review checklist', status: 'ready' }\n    ],\n    next_step: 'update_ghl_contact_move_opportunity_to_implementation_and_notify_obmc'\n  }\n}];"
      },
      "id": "code-normalize-intake-submitted",
      "name": "Normalize Intake Submitted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -260,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, workflow: 'Ai Employee OBMC - Intake Submitted', next_step: $json.next_step, customer_email: $json.intake.email, task_count: $json.implementation_tasks.length } }}",
        "options": {}
      },
      "id": "respond-intake-submitted",
      "name": "Confirm Intake Submitted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Intake Submitted Webhook": {
      "main": [
        [
          {
            "node": "Normalize Intake Submitted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Intake Submitted": {
      "main": [
        [
          {
            "node": "Confirm Intake Submitted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "ai-employee-obmc-intake-submitted-local-template",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "OBMC AI Employees"
    },
    {
      "name": "Intake"
    }
  ]
}
